  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="baseurl" content="{{site.baseurl}}">
  <!-- Social Media Info -->
  <link rel="publisher" href="https://plus.google.com/113283982336373378707/">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | remove_first:'/' }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@TheSeg">
  <meta property="twitter:account_id" content="13731442" />
  <meta property="og:title" content="The Official Website Of Your Game by John &quot;Seg&quot; Seggerson">
  <meta property="og:description" content="The Official Website Of Your Game. A workshop on website design by John *Seg* Seggerson">
  <!-- Bootstrap via CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Bootstrap JavaScript via CDN -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WXSP0ZLK1Q"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WXSP0ZLK1Q');
  </script>